/* colors:
  
  focused gold: #e8a749
  lighter gold: #eebd77
  dark: #302818
  silver: #dbdcdd
  
*/

.clear{
    clear:both;
    height:1px;
    margin-bottom:-1px;
}

.vspace10{
    position:relative;
    height:10px;
    clear:both;
}

.divider{
    position:relative;
    width:100%;
    height:3px;
    background-color:#e8a749;
    margin-bottom:10px;
}


body{
    background: #cacbcc; /* Old browsers */
    background: -moz-linear-gradient(top, #cacbcc 0%, #c5c6c8 30%, #838588 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacbcc), color-stop(30%,#c5c6c8), color-stop(100%,#838588)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cacbcc 0%,#c5c6c8 30%,#838588 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cacbcc 0%,#c5c6c8 30%,#838588 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cacbcc 0%,#c5c6c8 30%,#838588 100%); /* IE10+ */
    background: linear-gradient(top, #cacbcc 0%,#c5c6c8 30%,#838588 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacbcc', endColorstr='#838588',GradientType=0 ); /* IE6-9 */

    font-family:Helvetica, Arial, sans-serif;

}


.wrap{
    width:940px;
    margin:auto;
    position:relative;
}


/* HEADER */

#header{
    position:relative;
    background-color: #302818;
}

#header #logo{
    height:200px;
    text-indent:-9999px;
    background-image:url(/images/logo.png);
    width:940px;
    height:231px;
    position:relative;

}

#header #social_container{
    position:absolute;
    width:90px;
    height:42px;
    top:0px;
    right: 0px;
}

#header #social_container .social a{
    position:relative;
    float:left;
    margin-left:7px;
    height:38px;
    width:37px;
    text-indent:-9999px;
    display:block;
    margin-top:-5px;
    -webkit-transition-duration: .05s, .1s;
}

#header #social_container .social a:hover{
    margin-top:0px;
}

#header #social_container .social#social_facebook a{
    background-image:url(/images/facebook1.gif);
}

#header #social_container .social#social_twitter a{
    background-image:url(/images/twitter1.gif);
}


/* MENU */

#navigation{
    position:relative;
    width:100%;
    height:44px;
    background-color:#e8a749;
}

#navigation ul{
    position:relative;
    height:24px;
    background-color:#fff;
    border-top: 5px solid #302818;
    border-bottom: 5px solid #302818;
    top:5px;
    display:block;
    list-style:none;
}

#navigation ul li{
    display:inline;
    position:relative;
    width:190px;
}

#navigation ul li a{
    display:block;
    height:24px;
    line-height:24px;
    text-decoration:none;
    color:#000;
    width:187px;
    text-align:center;
    font-size:12px;
    position:relative;
    margin:0;
    float:left;
    font-weight:bold;
}

#navigation ul li a:last-child{
   /* width:104px;*/
    margin-right:0px;
}

#navigation ul li a.active{
    background-color:#e8a749;
 
}

#navigation ul li a:hover{
    background-color:#eebd77;
}


#navigation ul li:after{
    content:'';
    position:absolute;
    width:4px;
    height:16px;
    background-color:#000;
    top:3px;
    margin-left:-2px;
    z-index:10;

}

#navigation ul li:last-child:after{
    background-color:transparent;
    display:none;
}




/* SLIDER */


#slider{
    position:relative;
}

#slider ul{
    position:relative;
    width:100%;
    height:275px;
    
}

/* OTHER STYLES ARE IN anythignslider.css */


/* HOME PAGE CONTENT (OUTER POSTS) */


#page_content{
    position:relative;
}

#outer_posts{
    position:relative;
}


.outer_post{
    position:relative;
    height:260px;
    width:100%;
    background-color:#eebd77;
    margin-right:-14px;
    padding-right:14px;
}

.outer_post .photo{
    position:relative;
    float:left;
    height:260px;
    width:340px;
    background-color:#eebd77;
    margin-left:-14px;
    padding-left:14px;
}

.outer_post:hover img.blur{
    display: none;
}

.outer_post:hover img.focus{
    display: block !important;
}

.outer_post .photo img{
    width:340px;
    height: 261px;
    position: absolute;
}

.outer_post:hover{
    background-color:#e8a749;
}

.outer_post:hover .photo{
    background-color:#3d392d;
}

.outer_post .content{
    position:relative;
    float:left;
    width: 600px;
}

.outer_post .content .top{
    position:relative;
    height: 34px;
    background-color:#fff;
    width:100%;
}


.outer_post .content .top .date{
    position:absolute;
    top: 10px;
    left:20px;
    color: #000;
    font-style:italic;
    font-size:16px;
}

.outer_post .content .top .comment_number{
    position:absolute;
    top: 8px;
    right: 8px;
    background-color: #000;
    height: 16px;
    line-height:16px;
    padding-left:6px;
    padding-right:6px;
    color:#fff;
    font-size: 10px;
    font-style:italic;
}


.outer_post .content .title, .outer_post .content .title a{
    position:relative;
    width:100%;
    background-color:#e8a749;
    height: 46px;
    line-height:46px;
    font-size: 40px;
    font-weight:bold;
    color:#000;
    text-decoration:none;
}

.outer_post .content .body{
    font-family: 'Times New Roman', serif;
    position:relative;
    background-color:#fff;
    height: 120px;
    padding: 20px;
    font-size:16px;
    color: #000;
    line-height: 18px;

}

.outer_post .content .body .more{
    position:absolute;
    bottom:8px;
    right:8px;
}

.outer_post .content .body .more a{
    color:#e8a648;
    font-size: 20px;
    text-transform:uppercase;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
}


.outer_post .content .category{
    margin-left:20px;
    font-size:12px;
    color:#000;
    margin-top:3px;
}


/* FOOTER */


#footer{
    position:relative;
    background-color:#302818;
    height: 40px;
    padding-top:10px;
clear:both;
}


#footer #footer_left{
    position:absolute;
    left: 0px;
    top:10px;
    color:#fff;
    font-size:10px;
}


#footer #footer_right{
    position:absolute;
    right: 0px;
    top:10px;
    color:#fff;
    font-size:10px;
}

#footer #footer_right a{
    color:#fff;
    text-decoration:none;
}

#footer #footer_right a:hover{
    text-decoration:underline;
}


/* inner post, copied mostly from outer post */
.inner_post{
    position:relative;
    width:100%;
    background-color:#eebd77;
    /*t r b l*/
    margin: 0px -14px 0px -14px;
    padding:0px 14px 0px 14px;
}

.inner_post .photo{
    position:relative;
    float:left;
    height:260px;
    width:340px;
    background-color:#eebd77;
    margin-left:-14px;
    padding-left:14px;
}

.inner_post:hover{
    background-color:#e8a749;
}

.inner_post:hover .photo{
    background-color:#3d392d;
}

.inner_post .content{
    position:relative;
    float:left;
    width: 100%;
}

.inner_post .content .top{
    position:relative;
    height: 34px;
    background-color:#fff;
    width:100%;
}


.inner_post .content .top .date{
    position:absolute;
    top: 10px;
    left:20px;
    color: #000;
    font-style:italic;
    font-size:16px;
}

.inner_post .content .top .comment_number{
    position:absolute;
    top: 8px;
    right: 8px;
    background-color: #000;
    height: 16px;
    line-height:16px;
    padding-left:6px;
    padding-right:6px;
    color:#fff;
    font-size: 10px;
    font-style:italic;
}

.inner_post .content .title{
    position:relative;
    width:100%;
    background-color:#e8a749;
    height: 46px;
    line-height:46px;
    font-size: 40px;
    font-weight:bold;
}

.inner_post .content .separator{
    background:#302818;
    color:#dbdcdd;
    text-align:center;
    min-height:14px;
}

.inner_post .content .comment{
    position:relative;
    background-color:#fff;
    min-height:100px;
    padding:14px;
}
.inner_post .content .comment .postbody{
    padding:0px 0px 5px 0px;
    font-size:16px;
    color: #000000;
    font-style:italic;
}

.inner_post .content .comment .postbody p{
    margin-bottom: 9px;
    margin-top: 9px;
    line-height: 18px;
    font-family: 'Times New Roman', serif;
    font-style: normal;;
}

.inner_post .content .comment .more{
    position:absolute;
    bottom:8px;
    right:8px;
}

.inner_post .content .comment .more a{
    color:#e8a648;
    font-size: 20px;
    text-transform:uppercase;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
}
.inner_post .content .comment .thumb{
    height:100px;
    width: 100px;
	border: 1px solid #e8a749;
    background:#dbdcdd;
    float:left;
    margin-right:10px;
}

.inner_post .content .comment .thumb img {
    width:100px;
    height:100px;
    overflow:hidden;
}

.inner_post .content .comment .date{
    padding:0px 0px 5px 10px;
    color:#e8a749;
}
.inner_post .content .comment .name{
    padding:0px 0px 5px 10px;
    text-transform:uppercase;
    font-style:bold;
}
.inner_post .content .comment .body{
    padding:0px 0px 5px 0px;
    font-size:14px;
    color: #000000;
    font-style:normal;
    font-family: "Times New Roman", serif;
}

.inner_post .content .category{
    padding-left:20px;
    font-size:12px;
    color:#000;
    padding-top:3px;
    text-transform:lowercase;
    background:#eebd77;
}

/*form styles*/
.frmleft {
	text-align:right;
	float: left;
	margin-left:5%;
}
.frmleft .frmpic {
	background:#ccc;
	border: 1px solid #e8a749;
	height:225px;
	width:225px;
	padding:2px;
}


.frmleft .frmpic img{
    width:225px;
    overflow:hidden;
    height:225px;
}

.frmright {
	text-align:right;
	margin-right:5%;
}
.frmright #frmname, #frmmail, #frmsite {
	width:300px;
	border: 1px solid #e8a749;
	background: #dbdcdd;
	margin:2px;
}
.frmright #frmcomment {
	width:450px;
	height:160px;
	border: 1px solid #e8a749;
	background: #dbdcdd;
	margin:2px;
    vertical-align:top;
}

/*button styles*/
#bsubmit, #bupload {
	padding:5px;
    margin-top:5px;
	border: 1px solid #e8a749;
    background:#302818;
    color:#dbdcdd;
    font-size:12px;
}
#bsubmit:hover, #bupload:hover {
	background: #dbdcdd;	
    color:#302818;
}

label {
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}




/* ARCHIVE */

ul.archive_list li a{
    color: #000;
    font-style: normal;
    line-height: 20px;
}



/* Contact */

.postbody p a, .postbody a{
    font-style: normal;
    color: #000;
}

/* colors:
  
  focused gold:  #e8a749
  lighter gold: #eebd77
  dark: #302818
  silver: #dbdcdd
  
*/





