<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Goldenage</title>
    <!-- include meta tags -->
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        
    <!-- include css -->
            <link rel="stylesheet" type="text/css" href="/css/reset.css" />
            <link rel="stylesheet" type="text/css" href="/css/anythingslider.css" />
            <link rel="stylesheet" type="text/css" href="/css/main.css" />
        
    <!-- include js -->
            <script type="text/javascript" src="/js/libraries/jquery.min.js"></script>
            <script type="text/javascript" src="/js/libraries/jquery.cookie.js"></script>
            <script type="text/javascript" src="/js/libraries/jquery.easing.js"></script> 
            <script type="text/javascript" src="/js/libraries/anythingslider.js"></script> 
            <script type="text/javascript" src="/js/functions.js"></script>  
            <script type="text/javascript" src="/js/main.js"></script>   
</head>
<body>
    
    <div id="header">
        <div class="wrap">
            <div id="logo"><a href="/">Goldenage</a></div>
            <div id="social_container">
                <div class="social" id="social_facebook"><a href="#">Facebook</a></div>
                <div class="social" id="social_twitter"><a href="#">Twitter</a></div>
            </div><!-- /#social_container-->
            
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Shows</a></li>
                    <li><a href="#">Tab</a></li>
                    <li><a href="#">Tab</a></li>
                    <li><a href="#">Tab</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/#navigation -->
            <div class="vspace10"></div>
        </div> <!--/.wrap -->
    </div><!-- /#header-->
    
    <div id="slider">
        <div class="wrap">
            <ul>
                <li><img src="/images/temp/slider1.jpg"></li>
                <li><img src="/images/temp/slider1.jpg"></li>
                <li><img src="/images/temp/slider1.jpg"></li>
            </ul>
        </div><!--/.wrap -->
    </div><!--/#slider-->
    
    <div id="page_content">
        <div class="wrap">
            <div id="outer_posts">
                
                <div class="inner_post">
                    <div class="content">
                        <div class="top">
                            <div class="date">January 12th, 2012</div>
                            <div class="comment_number">12 Comments</div>
                        </div><!-- /.top -->
                        <div class="title">Prince is Awesome</div>
                        <div class="comment">
                            <div class="postbody">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.<br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.<br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.<br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.<br /><br />
                            </div>                            
                            
                        </div> <!--/.body -->
                        <div class="category">music</div>
                    </div><!-- /.content -->
                    <div class="clear"></div>
                </div><!-- /.outer_post -->

                <div class="inner_post">
                    <div class="content">
                        <div class="separator">Comments</div>
                        <div class="comment">
                            <div class="thumb"></div>
                            <div class="date">2/23/2012</div>
                            <div class="name">S.A.G.(some anonymous guy)</div>
                            <div class="body">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.
                            </div>
                        </div>
                    </div><!-- /.content -->
                    <div class="clear"></div>
                </div><!-- /.outer_post -->
               
                <div class="inner_post">
                    <div class="content">
                        <div class="separator"></div>
                        <div class="comment">
                            <div class="thumb"></div>
                            <div class="date">2/23/2012</div>
                            <div class="name">S.A.G.(some anonymous guy)</div>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.<br /><br />
                            </div>                        
                        </div>
                    </div><!-- /.content -->
                    <div class="clear"></div>
                </div><!-- /.outer_post -->
               
                 <div class="inner_post">
                    <div class="content">
                        <div class="separator"></div>
                        <div class="comment">
                            <div class="thumb"></div>
                            <div class="date">2/23/2012</div>
                            <div class="name">S.A.G.(some anonymous guy)</div>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id mi dui, sit amet pulvinar nisi. Integer ullamcorper orci urna, non ultricies neque. Aliquam erat volutpat. Nullam vehicula, neque bibendum imperdiet semper, risus enim vehicula lorem, sed pellentesque ipsum dolor a nisl.
                            </div>
                        </div>
                        <div class="category">comments</div>
                    </div><!-- /.content -->
                    <div class="clear"></div>
                </div><!-- /.outer_post -->




                <div class="inner_post">
                    <div class="content">
                        <div class="comment">
                        <div class="body">
	                        <form id="uploadform" action="">
							    <div class="frmleft">
									<div class="frmpic"></div>
									<div><input id="bupload" type="submit" value="Upload picture"></div>				
								</div>
								</form>
								<form id="commentform" action="">
								<div class="frmright">
									<div>
										<label for="frmname">Name (required):</label>
										<input id="frmname" type="text"/>
									</div>
									<div>
										<label for="frmmail">E-mail (required):</label>
										<input id="frmmail" type="text"/>
									</div>
									<div>
										<label for="frmmail">Website:</label>
										<input id="frmmail" type="text" />
									</div>
									<div>
										<input id="frmcomment" type="text" />
									</div>
									<div>
										<input id="bsubmit" type="submit" value="Submit Comment"/>
									</div>
								</div>
							</form>
                        </div>
                        </div> <!--/.body -->
                        <div class="category">leave a comment</div>
                    </div><!-- /.content -->
                    <div class="clear"></div>
                </div><!-- /.outer_post -->
             
            </div><!--/#outer_posts -->

        </div><!-- /.wrap -->
    </div><!-- /#page_content -->
    
    <div id="footer">
        <div class="wrap">
            <div class="divider"></div>
            <div id="footer_left">&copy; 2012 Golden Age</div>
            <div id="footer_right"><a href="#">Facebook</a> | <a href="#">Twitter</a></div>
        </div><!-- /.wrap -->
    </div><!-- /#footer -->

</body>
</html>
